<div ng-if="loadingSampleIndiceHistoryData">
  <span>
      <i class="fa fa-spinner fa-spin ">  </i>
      {{'search.details.tab.content.loading' | j18n}}
  </span>
    <br/>
</div>



<div class="row" style="margin-top: -30px">

    <div class="col-md-6">
        <div>
            <label class="control-label" >
                {{"search.details.sample.indexBrutes" | j18n }}
            </label>
        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                {{"details.sample.ibch.family" | j18n }} :
            </label>
            <p class="form-control-static">
                {{sampleIndiceHistoryData.taxonSumFamily  || 0}}
            </p>

        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                {{"search.details.sample.ephemeroptera" | j18n }}:
            </label>
            <p class="form-control-static">
                {{ sampleIndiceHistoryData.ephemeropteraCounter  || 0}}
            </p>
            &nbsp;{{"export.csv.columns.labRecordField.taxon.family" | j18n }}
        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                {{"search.details.sample.plecoptera" | j18n }}:
            </label>
            <p class="form-control-static">
                {{sampleIndiceHistoryData.plecopteraCounter  || 0}}
            </p>
            &nbsp;{{"export.csv.columns.labRecordField.taxon.family" | j18n }}
        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                {{"search.details.sample.trichoptera" | j18n }}:
            </label>
            <p class="form-control-static">
                {{sampleIndiceHistoryData.tricopteraCounter  || 0}}
            </p>
            &nbsp;{{"export.csv.columns.labRecordField.taxon.family" | j18n }}
        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                IBCH-Q:
            </label>
            <p class="form-control-static">
                <span ng-if="sampleIndiceHistoryData.ibchQ">
                     {{sampleIndiceHistoryData.ibchQ }}/{{ sampleIndiceHistoryData.ibchQDesignation}}
                </span>

                <span ng-if="!sampleIndiceHistoryData.ibchQ">
                     -
                </span>

            </p>

        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                VC:
            </label>
            <p class="form-control-static">
                <span ng-if="sampleIndiceHistoryData.valeurCorrection">
                    {{sampleIndiceHistoryData.valeurCorrection | number:2 }}
                </span>
                <span ng-if="!sampleIndiceHistoryData.valeurCorrection">
                    -
                </span>
            </p>

        </div>

    </div>

    <div class="col-md-6">


        <div >
            <label class="control-label" >
                {{"search.details.sample.index" | j18n }}
            </label>
        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                {{"details.sample.ibch.indicator" | j18n }} :
            </label>
            <p class="form-control-static">
                {{sampleIndiceHistoryData.valeurGi || '-'}} / {{sampleIndiceHistoryData.taxonIndicateur || '-'}}
            </p>

        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                GI:
            </label>
            <p class="form-control-static">
                <span ng-if="sampleIndiceHistoryData.giFinal">
                    {{sampleIndiceHistoryData.giFinal | number:3}}
                </span>
                <span ng-if="!sampleIndiceHistoryData.giFinal">
                    -
                </span>

            </p>

        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                VT:
            </label>
            <p class="form-control-static">
                <span ng-if="sampleIndiceHistoryData.valuerVt">
                     {{sampleIndiceHistoryData.valuerVt | number:3}}
                </span>

                <span ng-if="!sampleIndiceHistoryData.valuerVt">
                    -
                </span>

            </p>

        </div>



        <div>

            <label class="control-label">
                IBCH :&nbsp;&nbsp;
            </label>

            <span ng-if="sampleIndiceHistoryData.ibchIndexValue ">
               <span  ng-if="sampleIndiceHistoryData.ibchLegendVersionId" class="badge" style="background-color: {{sampleIndiceHistoryData.ibchQuality.bgColorCode}}; color: {{sampleIndiceHistoryData.ibchQuality.textColorCode}}"
                      bs-popover data-title="{{sampleIndiceHistoryData.ibchLegendVersionId}}" data-placement="top" data-template="{{indexesPopoverTplUrl}}"

                      data-content="IBCH" data-trigger="hover" >
                {{sampleIndiceHistoryData.ibchIndexValue | number:3}}
               </span>
               <span ng-if="!sampleIndiceHistoryData.ibchLegendVersionId" >
                    {{sampleIndiceHistoryData.ibchIndexValue | number:3}}
               </span>
           </span>
        </div>

        <div class="form-group form-inline">
            <label class="control-label">
                IBCH-R:
            </label>
            <p class="form-control-static">

                <span ng-if="sampleIndiceHistoryData.ibchRobust">
                     {{sampleIndiceHistoryData.ibchRobust | number:3}}
                </span>

                <span ng-if="!sampleIndiceHistoryData.ibchRobust">
                    -
                </span>

            </p>

        </div>



        <div style="margin-top: 10px;">

            <label class="control-label">
                SPEAR :&nbsp;&nbsp;
            </label>
            <span ng-if="sampleIndiceHistoryData.spearIndexValue">
                <span class="badge" style="background-color: {{sampleIndiceHistoryData.spearQuality.bgColorCode}}; color: {{sampleIndiceHistoryData.spearQuality.textColorCode}}"
                      ng-if="sampleIndiceHistoryData.spearLegendVersionId"
                      data-title="{{sampleIndiceHistoryData.spearLegendVersionId}}"
                      bs-popover data-placement="top" data-html="true"
                      data-template="{{indexesPopoverTplUrl}}" data-content="SPEAR" data-trigger="hover" data-container="body">
                    {{sampleIndiceHistoryData.spearIndexValue | number:2}}
                </span>
                <span ng-if="!sampleIndiceHistoryData.spearLegendVersionId">
                      {{sampleIndiceHistoryData.spearIndexValue | number:2}}
                </span>
            </span>
            <span ng-if="!sampleIndiceHistoryData.spearIndexValue">{{"sample.bioticIndexes.notAvailable" | j18n }}</span>
        </div>

    </div>
</div>



</div>
