<div>

    <div>
        <div  class="row filter-row callout-warning" ng-if="(samplesFilters|filter:{'display':true}).length >0 " >
            <label class="well well-sm extra-margin" ng-repeat="sampleFilter in samplesFilters |filter:{'display':true} as filtered">
                {{sampleFilter.codeName | j18n }}:
                <span ng-if=" sampleFilter.value =='search.form.published.true' || sampleFilter.value =='search.form.published.false' ">{{sampleFilter.value  | j18n }}</span>
                <span ng-if=" sampleFilter.value !='search.form.published.true' && sampleFilter.value !='search.form.published.false' ">{{sampleFilter.value  }}</span>
            </label>
            <div ng-if="filtered.length>0" class="btn-group  pull-right"  role="group" aria-label="...">
                <br/>

                    <a class="btn btn-primary btn-space" href="/midat/app/samples/#/search" ng-click="resetTimer()"> <i class="fa fa-pencil-square-o"></i>
                        <span class="text">{{"search.form.modify" | j18n }}</span>
                    </a>


                    <a class="btn btn-default align-right" href="/midat/app/samples/#/map" ng-click="resetTimer()">
                        <i class="fa fa-eraser"></i>
                        <span class="text">{{"search.form.reset" | j18n }}</span>
                    </a>

            </div>
        </div>
    </div>

        <div class="slider-div">
            <br/>

            <label>  {{"search.form.dates" | j18n }} [ {{formatDateForDisplay(dateSlider.minValue)}}   {{"search.form.datesand" | j18n }} {{formatDateForDisplay(dateSlider.maxValue)}}]</label>

                <div class="row form-horizontal">


                    <div class="col-sm-3 extra-inline">
                         <label for="indexTypesOptionsId">
                            {{"search.form.index" | j18n }} &nbsp;&nbsp;
                        </label>
                        <select ng-model="indexType" ng-change="updateIndex()" id="indexTypesOptionsId"
                                ng-options="indexType.value as indexType.label for indexType in indexTypesOptions"
                                class="form-control input-sm" style="width: 150px;">
                        </select>
                    </div>

                    <div class="col-sm-6 ">
                    <ul  class="biotic-ul">
                        <li  ng-repeat="rating in bioticIndexQualityValues[indexType]" class="biotic-li">
                        <span class="label" title="{{rating.rangeLegendText}}" ng-style="{ 'background-color': rating.bgColorCode, color: rating.textColorCode }">
                            {{rating.rating}}
                        </span>
                        </li>
                    </ul>
                    </div>

                </div>



             <!-- <span> {{bioticIndexQualityValues[indexType] | json}}</span> -->

            <rzslider class="custom-slider" rz-slider-model="dateSlider.minValue"   rz-slider-high="dateSlider.maxValue" rz-slider-options="dateSlider.options"></rzslider>

        </div>
        <br/>
    </div>

    <div class="row">




        <div class="col-sm-10 no-padding-left">
            <div id="loader-wrapper"  class="hidden">
                <div ><div class='loader'></div></div>
            </div>

            <geoadmin-map
                    style="height:450px; width:100%; border: 1px solid gray; background-color: #f0f0f0; box-sizing: content-box"
                    model="searchState.mapModel">
            </geoadmin-map>
        </div>



        <div class="col-sm-2 no-padding">

                <div class="demo-player">

                    <div class="row">

                        <div class=" text-center">
                                <i class="fa fa-history fa-history-player "></i>
                        </div>

                        <div class="player text-center">


                            <button type="button" id="button_play"    class="btn" ng-click='buttonPlayPress()'>
                                <i class="fa fa-play"></i>
                            </button>

                            <button type="button" id="button_stop"    class="btn" ng-click='buttonStopPress()'>
                                <i class="fa  fa-stop"></i>
                            </button>

                            <button type="button" id="button_reverse" class="btn" ng-click='buttonReversePlayPress()'>
                                <i class="fa  fa-play"></i>
                            </button>

                        </div>
                    </div>
            </div>


            <div class="panel panel-default panel-margin-bottom">
                <div class="panel-body custom-padding">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label for="north">
                                    {{"search.map.north" | j18n }}
                                </label>
                                <input class="form-control form-control-xs" type="text" ng-model="searchState.mapModel.rectangleSelector.rectangle.north" id="north" readonly/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="west">
                                    {{"search.map.west" | j18n }}
                                </label>
                                <input class="form-control form-control-xs" type="text" ng-model="searchState.mapModel.rectangleSelector.rectangle.west" id="west" readonly/>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="east">
                                    {{"search.map.east" | j18n }}
                                </label>
                                <input class="form-control form-control-xs" type="text" ng-model="searchState.mapModel.rectangleSelector.rectangle.east" id="east" readonly/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="form-group">
                                <label for="south">
                                    {{"search.map.south" | j18n }}
                                </label>
                                <input class="form-control form-control-xs" type="text" ng-model="searchState.mapModel.rectangleSelector.rectangle.south" id="south" readonly/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <button class="btn btn-block"
                    ng-click="startSelectionButtonClicked()"
                    ng-class="getStartSelectionButtonBtnClass()">
                {{getStartSelectionButtonLabel()}}
            </button>
            <button class="btn btn-block btn-default" ng-click="clearAllSelections()">
                {{"search.map.delete" | j18n }}
            </button>

            <div ng-if="sessionUser.isPermitted('midat:samples:update')" >
                <hr/>
                <input type="checkbox" id="editModeCheckbox" ng-model="searchState.searchCriteria.editionModeCarte"/>
                <label for="editModeCheckbox">{{"search.form.enableeditmode" | j18n }}</label>
            </div>

        </div>
    </div>

    <div class="row slide-animate-container">
        <div id="searchResult" ng-include="searchResultTplUrl" class="slide-animate"></div>
    </div>


</div>
