/*
   find the original custom-stye at :
   http://angular-slider.github.io/angularjs-slider

 */


.custom-slider.rzslider .rz-pointer {

    background-color: transparent;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f00;
    margin-left: -13px;

}


.custom-slider.rzslider .rz-tick {
    width: 1px;
    height: 10px;
    margin-left: 1px;
    border-radius: 0;
    top: -1px;
}

.custom-slider.rzslider .rz-pointer:after {
    display: none;
}
.slider-div{
    margin-left: -15px;
    margin-right: -15px;
}

.rzslider .rz-tick-legend {
    top: 10px;
}

.custom-slider.rzslider .rz-limit {
    font-weight: bold;
}

.rzslider .rz-selection {
    margin-left: -13px;
}

.biotic-ul{
    display: inline-block;
    margin-left: -30px;
}
.biotic-li{
    display: inline-block;
    list-style-type: none;
    margin-top: 4px;
}

.biotic-li span{
   font-size: 100%;
    border: 1px solid gray;
}

.demo-player{
    height: 76px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    border-color: #dddddd;
    margin-bottom: 5px;
}

.panel-margin-bottom{
    margin-bottom: 5px;
}
.player{
    margin:0px;
    margin-bottom: -10px;
}


#button_reverse i {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
}

.custom-padding{
    padding-top:5px ;
    padding-bottom: 5px;
}

.player >.btn{
    width:60px;
}

.extra-margin{
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.filter-row{
    box-shadow: 2px 2px 2px #9E9E9E;
    background-color: #fffff6;
    margin-left:-15px;
}

.extra-inline{
    display: inline-flex;

}
.fa-history-player{
    font-size: 19px;
}


[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    background: #000;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 300px;
    text-align: center;
    border-radius: 4px;
}
/* Dynamic horizontal centering */
[data-tooltip-position="top"]:before,
[data-tooltip-position="bottom"]:before {
    left: 50%;
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
/* Dynamic vertical centering */
[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
[data-tooltip-position="top"]:before {
    bottom: 100%;
    margin-bottom: 6px;
}
[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}
[data-tooltip-position="bottom"]:before {
    top: 100%;
    margin-top: 6px;
}
[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

/* Tooltip arrow styling/placement */
[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
/* Dynamic horizontal centering for the tooltip */
[data-tooltip-position="top"]:after,
[data-tooltip-position="bottom"]:after {
    left: 50%;
    margin-left: -6px;
}
/* Dynamic vertical centering for the tooltip */
[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}
[data-tooltip-position="top"]:after {
    bottom: 100%;
    border-width: 6px 6px 0;
    border-top-color: #000;
}
[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}
[data-tooltip-position="bottom"]:after {
    top: 100%;
    border-width: 0 6px 6px;
    border-bottom-color: #000;
}
[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}
/* Show the tooltip when hovering */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}

ul.legend{
    margin-top: 10px;
    list-style: none ;
    margin-left: -40px ;
    line-height: 1.0;
}
ul.legend .label-default{
    color: black;
    background-color: #ddd;
}

.additional-info{
    height: 30px;
    margin: 0px;
}



#loader-wrapper{
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
}



.loader {
    left: 50%;
    margin-left: -4em;
    font-size: 10px;
    border: .8em solid rgba(218, 219, 223, 1);
    border-left: .8em solid #044572;
    animation: spin 1.1s infinite linear;
}
.loader, .loader:after {
    border-radius: 50%;
    width: 8em;
    height: 8em;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -4.05em;
}

@keyframes spin {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}